extends layout

block content
  h1 BusiScan
  .js-masonry(data-masonry-options='{ "columnWidth": ".grid-sizer", "itemSelector": ".item", "percentPosition": true },"stamp": ".stamp"')
    #map-canvas.stamp 
    .grid-sizer     
    .item(click='showProdDetails($index)') 
      span.helper
      img(ng-src="/images/bootcampsLogos2/{{school.schoolImg}}")
    .item(click='showProdDetails($index)') 
      span.helper
      img(ng-src="/images/bootcampsLogos2/{{school.schoolImg}}")
    .item(click='showProdDetails($index)') 
      span.helper
      img(ng-src="/images/bootcampsLogos2/{{school.schoolImg}}")
    .item(click='showProdDetails($index)') 
      span.helper
      img(ng-src="/images/bootcampsLogos2/{{school.schoolImg}}")
    .item(click='showProdDetails($index)') 
      span.helper
      img(ng-src="/images/bootcampsLogos2/{{school.schoolImg}}")
    .item(click='showProdDetails($index)') 
      span.helper
      img(ng-src="/images/bootcampsLogos2/{{school.schoolImg}}")                                    
    .item(click='showProdDetails($index)') 
      span.helper
      img(ng-src="/images/bootcampsLogos2/{{school.schoolImg}}")
    .item(click='showProdDetails($index)') 
      span.helper
      img(ng-src="/images/bootcampsLogos2/{{school.schoolImg}}")
    .item(click='showProdDetails($index)') 
      span.helper
      img(ng-src="/images/bootcampsLogos2/{{school.schoolImg}}")
    .item(click='showProdDetails($index)') 
      span.helper
      img(ng-src="/images/bootcampsLogos2/{{school.schoolImg}}")
    .item(click='showProdDetails($index)') 
      span.helper
      img(ng-src="/images/bootcampsLogos2/{{school.schoolImg}}")
    .item(click='showProdDetails($index)') 
      span.helper
      img(ng-src="/images/bootcampsLogos2/{{school.schoolImg}}")
    .item(click='showProdDetails($index)') 
      span.helper
      img(ng-src="/images/bootcampsLogos2/{{school.schoolImg}}")
    .item(click='showProdDetails($index)') 
      span.helper
      img(ng-src="/images/bootcampsLogos2/{{school.schoolImg}}")
    .item(click='showProdDetails($index)') 
      span.helper
      img(ng-src="/images/bootcampsLogos2/{{school.schoolImg}}")
    .item(click='showProdDetails($index)') 
      span.helper
      img(ng-src="/images/bootcampsLogos2/{{school.schoolImg}}")
