extends layout

block content
  //h1 My Scans
  .appendBizCards.js-masonry(data-masonry-options='{ "columnWidth": ".grid-sizer", "itemSelector": ".item", "percentPosition": true },"stamp": ".stamp"')
    #map-canvas.stamp 
    .grid-sizer     
    .item(click='showProdDetails($index)') 
      span.helper
      img( src="/images/bizCard1.jpg")
    .item(click='showProdDetails($index)') 
      span.helper
      img( src="/images/bizCard2.jpg")
    .item(click='showProdDetails($index)') 
      span.helper
      img( src="/images/bizCard3.jpg")
    .item(click='showProdDetails($index)') 
      span.helper
      img( src="/images/bizCard4.jpg")
    .item(click='showProdDetails($index)') 
      span.helper
      img( src="/images/bizCard5.jpg")
    .item(click='showProdDetails($index)') 
      span.helper
      img( src="/images/bizCard1.jpg")                                    
    .item(click='showProdDetails($index)') 
      span.helper
      img( src="/images/bizCard2.jpg")
    .item(click='showProdDetails($index)') 
      span.helper
      img( src="/images/bizCard3.jpg")
    .item(click='showProdDetails($index)') 
      span.helper
      img( src="/images/bizCard4.jpg")
    .item(click='showProdDetails($index)') 
      span.helper
      img( src="/images/bizCard5.jpg")
    .item(click='showProdDetails($index)') 
      span.helper
      img( src="/images/bizCard1.jpg")
    .item(click='showProdDetails($index)') 
      span.helper
      img( src="/images/bizCard2.jpg")
    .item(click='showProdDetails($index)') 
      span.helper
      img( src="/images/bizCard3.jpg")
    .item(click='showProdDetails($index)') 
      span.helper
      img( src="/images/bizCard4.jpg")
    .item(click='showProdDetails($index)') 
      span.helper
      img( src="/images/bizCard5.jpg")
    .item(click='showProdDetails($index)') 
      span.helper
      img( src="/images/bizCard1.jpg")
